/*CSS style sheet for map page*/

@font-face {
font-family: Franklin Gothic Heavy;
src: url(franklin_gothic_heavy.ttf);
}

.clr {
	clear:both;
}

.nav ul {
  list-style: none;
  background-color: rgba(58,55,55,.2);
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: -8px;
  margin-right: 25%;
  margin-left: 25%;
}

.nav li {
  font-family: arial;
  font-weight: bold;
  font-size: .9em;
  line-height: 40px;
  height: 40px;
  margin-bottom: 0px;
}
 
.nav a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  transition: .5s background-color;
}
 
.nav a:hover {
  background-color: #783745;
  padding-right: 10px;
  padding-left: 10px;
}
 
.nav a.active {
  background-color: #783745;
  color: #000000;
  cursor: default;
}

.nav li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
  }

#vcr-controls {
	position: absolute;
	width: 510px;
    padding: 10px;
	z-index: 21;
	right: 30px;
	top: 940px;
  	background-color: rgba(58,55,55,.8);
	border: thin solid #523535;
}

.vcr img {
	float: left;
	margin-right: 10px;
	width: 48px;
	height: 48px;
	padding: 2px 2px 2px 2px;
	margin-top: -3px;
}

.vcr:hover {
    opacity: .4;
}

#menu{
	height: 740px;
	width: 325px;
	float: left;
	margin-left: 30px;
	margin-top: 60px;
	top: 180px;
	font-family: arial;
	padding: 5px;
	font-style: normal;
	font-size: 14pt;
	line-height: 150%;
    color: #ffffff;
	position: absolute;
	left: 1px;
	z-index: 21;
  	background-color: rgba(58,55,55,.8);
	border: thin solid #000000;
}

/*"Check" buttons on menu sidebar*/
.button {
    margin-right: 4px;

}

div.scroll {
	width: 95%;
	height: 78%;
	margin-left: 3px;
	margin-bottom: 3px;
	overflow-y: scroll;
	z-index: 10;
	line-height: 140%;
	padding: 5px;
	border: thin solid #000000;
    color: #FFFFFF;
}

.checkedNum {
	margin-top: -20px;
	color: #F9F9F9;
}

#map{
	position: absolute;
	height: 800px;
	width: 97%;
	border: medium solid #7E5555;
	z-index: 10;
	left: 10px;
	top: 215px;
	margin: 10px;
}

/*Arch image at top of page*/
img {
	position: relative;
	margin-top: -40px;
    width: 150px;
    opacity: .5;
    height: 200px;
    margin-left: 10px;
    float: left;
}
    

h1 {
	font-family: "Franklin Gothic Heavy";
	position: absolute;
	font-size: 30px;
    margin-top: 70px;
	font-style: normal;
	line-height: 120%;
    margin-left: 175px;
}

/*colors text */
h1 .emphasis {
	color: #8C2A3F;
	margin-top: -5px;
}

/*"Subjective Marker" in menu box*/
h2 {
	font-family: Franklin Gothic Heavy;
	font-weight: bold;
	font-size: 20pt;
	text-align: center;
    color: #ffffff;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-left: -5px;
	padding: 5px;
	width: 273px;
}

body{
	color: #675A5A;
}

.leafletoclickable: hover{
	width: 5;
	z-index: 10;
}
/*SM markers*/
.leaflet-clickable {
	marker-width: 50%;
    stroke-opacity: .8;
	z-index: 10;
	-webkit-transition-property: background color;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-property: background color;
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: ease-in;
    -o-transition-property: background color;
    -o-transition-duration: .5s;
    -o-transition-timing-function: ease-in;
    -ms-transition-property: background color;
    -ms-transition-duration: .5s;
    -ms-transition-timing-function: ease-in;
    transition-property: background color;
    transition-duration: .5s;
    transition-timing-function: ease-in;
}

.temporal-legend {
	font-size: 12pt;
	font-family: arial;
	line-height: 120%;
	background-color: rgba(58,55,55,.8);
	color: #F7F4F4;
	padding: 10px ;
	width: 150px;
	text-align: center;
	float: left;
	position: relative;
	bottom: 90px;
	border: thin solid #000000;
}



.range-slider {
	width: 532px;
	padding-top: 6px 6px 6px 6px;
	background-color: #C35557;
	position: relative;
	bottom: 90px;
}

.leaflet-popup-content-wrapper {
    font-size: 14pt;
    font-family: arial;
    background-color: rgba(58,55,55,.8);
    color: #F2ECEB;
    line-height: 110%;
    border: thin solid #000000;
    z-index: 100;
}

