/*CSS styl sheet for intro page*/

@charset "utf-8";

.clr {
	clear:both;
}


/*Many elements are set to an initial "hidden" so that
js can fade them in*/
.nav {
	visibility: hidden;
}

.nav ul {
  list-style: none;
  background-color: rgba(58,55,55,.2);
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: -3%;
  margin-right: 25%;
  margin-left: 25%;
}

.nav li {
  font-family: Arial, sans-serif;
  font-size: 1em;
  line-height: 40px;
  height: 40px;
  margin-bottom: 0px;
}
 
.nav a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  transition: .5s background-color;
}
 
.nav a:hover {
  background-color: #783745;
  padding-right: 10px;
  padding-left: 10px;
}
 
.nav a.active {
  background-color: #783745;
  color: #000000;
  cursor: default;
}

.nav li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
  }


/*entire page*/
body {
	width: 100%;
	color: #574B4D;
	font-family: arapey;
	margin-left: 3%;
	margin-top: 3%;
	margin-right: 3%;
	margin-bottom: 3%;
	background-size: contain;
	font-style: normal;
	font-weight: 400;
}

/*narrative text*/
body p {
	font-size: 14pt;
	line-height: 130%;
	color: #403E3E;
	margin-right: 300px;
	margin-left: 25px;
	display: inline-block;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	visibility: hidden;
	font-family: arapey;
	font-style: normal;
	font-weight: 400;
}

img {
	float:left;
	width: 775px;
	visibility: hidden;
}

h1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif, arapey, de-walpergens-pica, droid-serif, quattrocento-sans;
	font-style: normal;
	font-weight: 400;
	font-size: 30pt;
	text-decoration: none;
	color: #675A5A;
	clear: none;
	vertical-align: top;
	width: 40%;
	padding-left: 20px;
	float: left;
	margin-top: 70px;
	line-height: 130%;
	visibility: hidden;
}

/*changes color of book's title*/
.title {
	color: #783745;
	font-weight: 400;
	font-size: 33pt;
}

#link {
	position: absolute;
	visibility: hidden;
}

/*colors text about the map*/
.emphasis {
	color: #8C2A3F;
	margin-top: -20px;
}

/*Josh's signature block*/
.signature {
	font-size: 16pt;
	margin-top: -5px;
	float: left;
	width: 600px;
}
