/*CSS style sheet for credits page*/

@font-face {
  font-family: Franklin Gothic Heavy;
  src: url(franklin_gothic_heavy.ttf);
}
.clr {
  clear:both;
}


.nav ul {
  list-style: none;
  background-color: rgba(58,55,55,.2);
  text-align: center;
  padding-right: 1px;
  padding-left: 1px;
  margin-top: -20px;
  margin-right: 25%;
  margin-left: 25%;
}

.nav li {
  font-family: arial;
  font-weight: bolder;
  font-size: .9em;
  line-height: 40px;
  height: 40px;
  margin-bottom: 0px;
}
 
.nav a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #783745;
  padding-right: 10px;
  padding-left: 10px;
}
 
.nav a.active {
  background-color: #783745;
  color: #000000;
  cursor: default;
}

.nav li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
  }

img {
    width: 125px;
    margin-top: -30px;
    position: absolute;
    float: left;
    margin-left: 10px;
}

    
h1 {
  font-family: Franklin Gothic Heavy;
  font-size: 30px;
  position: absolute;
  float: right;
  top: 80px;
  margin-left: 150px;
  font-style: normal;
  line-height: 120%;
}

h1 .emphasis {
  color: #783745;
  margin-top: 0px;
}

h2 {
	font-family: Franklin Gothic Heavy;
	font-size: 16pt;
  line-height: 130%;
	text-align: left;
  width: 80%;
	margin-bottom: -20px;
	color: #783745;
	position: relative;
	font-weight: bold;
  visibility: hidden;
}

body {
	font-family: arapey;
  line-height: 130%;
	font-style: normal;
	color: #675A5A;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 10px;
  visibility: hidden;
}

#text {
  font-size: 14pt;
  line-height: 130%;
	margin-top: 225px;
	margin-left: 40px;
	margin-right: 20px;
  visibility: hidden;
}

.link {
	color: #783745;
}

